<h1 class='header_logo'>EventBoard</h1>
<div class='container'>
	<%= link_to 'Find Event', events_path, class: 'button button-block' %>
	<%= link_to 'Create Event', new_event_path, class: 'button button-block' %>
</div>
