<h1>Events</h1>
<ul>
<% @events.each do |event| %>
	<li>
		<%= link_to event.name, event %>
		<small><%= event.description %></small>
	</li>
<% end %>
<% if @events.empty? %>
	<p>No events found</p>
<% end %>

<%= link_to 'Create Event', new_event_path %>

</ul>
