<li class='button-container'>
	<%= link_to poll.question, poll, class: 'button' %>
	<%= link_to '', [poll.event, poll], method: :delete,
		data: { confirm: 'Are you sure?' }, class: 'button button-cancel glyphicon glyphicon-remove' %>
</li>
